.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#map {
  width:100vh;
  border: 1px solid #00d1a8;
  border-radius:3% ;
  -webkit-border-radius:3% ;
  -moz-border-radius:3% ;
  -ms-border-radius:3% ;
  -o-border-radius:3% ;
}
#map-single{
  height:150px;
  transform:translateY(-30%);
  border-radius: 3%;
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  -ms-border-radius: 3%;
  -o-border-radius: 3%;
  -webkit-transform:translateY(-30%);
  -moz-transform:translateY(-30%);
  -ms-transform:translateY(-30%);
  -o-transform:translateY(-30%);
}

.container{
  padding:30px;
  height: 80vh;
  background-color:#ffffff;
  border-radius:10px;
  display: flex;
  margin-top:5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.336), 0 6px 20px 0 rgba(0, 0, 0, 0.267);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
}
.address{
  color: #00a68a;
  font-size: 15px;
  font-weight: bold;
}

 body {
  margin: 0px;
  padding: 0;
  background-repeat: no-repeat;
  background: radial-gradient(circle, rgba(0,209,168,1) 33%, rgba(0,166,138,1) 100%);
  background: -moz-radial-gradient(circle, rgba(0,209,168,1) 33%, rgba(0,166,138,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(0,209,168,1) 33%, rgba(0,166,138,1) 100%);
  background: radial-gradient(circle, rgba(0,209,168,1) 33%, rgba(0,166,138,1) 100%);
}

#map-address{
 width:100vh;
 overflow:auto;
}

.list-group-item{
  color:rgb(107, 106, 106);
  text-decoration: none;
  
}

ul{
  list-style: none;
  overflow:auto;
}

.name, .name2{
  color: #00a68a;
  font-weight: bold;
}

.name2{
  font-size: 20px;
}
.flexed{
  margin-left:20%;
  text-align: center;
  justify-content: space-between;
  display: flex;
  /* align-items: center; */
}
.flexed2{
  text-align: center;
}

.icon{
  height:30px;
  width:30px;
}
.icon:hover{
  height:35px;
  width:35px;
}
#title{
  color:#00a68a;
  text-shadow: 1px 1px 4px #0000002a;
}
.button-accept{
  font-weight: bold;
  width:75%;
  height:40px;
  border-radius:28px;
  background: radial-gradient(right, rgb(48, 170, 146) 80%, rgb(31, 180, 155) 100%);
  color: white;
  font-size: 23px;
  -webkit-border-radius:28px;
  -moz-border-radius:28px;
  -ms-border-radius:28px;
  -o-border-radius:28px;
}
.button-accept:hover{
  background: #038f76;
}
 .form-control{
  border:solid 1px #038f76;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
#exampleForm{
  border:solid 2px#038f76 ;
  width:5rem;
 
}
